:root {
    --purple: hsl(278, 94%, 30%);
    --blue: hsl(249, 99%, 64%);
    --linear-gradient: linear-gradient(to right, var(--blue), var(--purple));
    --error-red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px ;
}
.webapp{
    height: 100vh;
}
.topside{
    background: radial-gradient(circle at 50%, var(--purple), var(--very-dark-violet));
    height: 40vh;
}