:root {
    --purple: hsl(278, 94%, 30%);
    --blue: hsl(249, 99%, 64%);
    --linear-gradient: linear-gradient(to right, var(--blue), var(--purple));
    --error-red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px ;
}
#webapp{
    height: 100vh;
    overflow: hidden;
}
.topside{
    background: radial-gradient(circle at 50%, var(--purple), var(--very-dark-violet));
    height: 30vh;
    position: relative;
}
.bottomside{
    margin-top: 70px;
}
.card-back{
    width: 300px;
    height: 180px;
    background-image: url(../img/bg-card-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 11%;
    bottom: 11%;
    border-radius: 15px;
}
.card-front{
    width: 300px;
    height: 180px;
    background-image: url(../img/bg-card-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -31%;
    left: 3%;
    border-radius: 15px;
}

.card-front > img {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 55px;
  }
  
.cvc{
    position: absolute;
    bottom: 43%;
    left: 75%;
    color: white;
}
.card-number{
    position: absolute;
    bottom: 30%;
    left: 7%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.card-holder{
    position: absolute;
    left: 7%;
    bottom: 10%;
    font-size: 14px;
    color: white;
}

.card-month-expired {
  position: absolute;
  bottom: 9%;
  right: 18%;
  color: white;
}

.card-year-expired {
    position: absolute;
    bottom: 9%;
    right: 9%;
    color: white;
  }
  
  .btn-primary-custom{
    background-color: #241332;
    color: white;
  }
  .success-card img{
    width: 80px;
  }
  .success-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  @media only screen and (min-width: 1200px) and (max-width: 1540px) {
    .topside{
      height: 100vh;
    }
    .bottomside{
      height: 100vh;
    }
    .card-front{
      bottom: 60%;
      left: 55%;
    }
    .card-back {
      left: 69%;
      bottom: 32%;
    }


  }